.cover-section {
  background-image: linear-gradient(rgba(255, 255, 255, .65), rgba(255, 255, 255, .65)), url('../img/cover_bck.jpg');
  background-position: center;
  background-size: cover;
  height: 80vh;
  display: flex;
  align-items: center;

  h1 {
    font-size: 2.5em;
    font-weight: lighter;
    margin-bottom: 1em;
  }

  p {
    margin-bottom: 4em;
  }

  a:link, a:visited {
    background-color: rgb(137, 191, 52);
    color: white;
    padding: 14px 25px;
    font-size: .8em;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    border-radius: 5px;
  }
}

@include screen-min-md() {
  .cover-section {
    .container {
        width: 60%;
    }
  }
}
