.site-header {
  display: flex;
  align-items: center;
  min-height: 100px;

  .hamburger-button {
    svg {
      width: 20px;
    }
  }

  .site-menu {
    font-size: 12px;

    li {
      padding-right: 1.5em;
    }
    a:link {
      text-decoration: none;
      color: rgb(77, 77, 77);
    }
  }

}

.logo-link {
  img {
    width: 60%;
  }
}

.site-menu {
  display: none;

  &.show {
    display: block;
  }
}

@include screen-min-md() {
  .desktop-menu {
    display: block;
  }
  .hamburger-button {
    display: none;
  }
}



.site-menu-social {
  a {
    padding: 0 1em;
  }
}
