.site-header {
  display: flex;
  align-items: center;
  height: 100px;
  .hamburger-button {
    svg {
      width: 20px;
    }
  }
}

.logo-link {
  img {

  }
}

.site-menu {
  display: none;

  &.show {
    display: block;
  }
}

@include screen-min-md() {
  .desktop-menu {
    display: block;
  }
  .hamburger-button {
    display: none;
  }
}

.site-menu {
  text-transform: uppercase;

  li {
    margin-right: 1.5em;
  }
  a:link {
    text-decoration: none;
    color: rgb(77, 77, 77);
    vertical-align: center;
  }
}

.site-menu-social {
  margin-left: 2em;
  a {
    padding: 0 1em;
  }
}
